# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS / editor
.DS_Store
.vscode/
.idea/

# Local outputs
*.log
*.zip
profile_exports/
